.sidebar {
  border: 1px solid red;
}

.sidebar__item {
  cursor: pointer;
  list-style-type: none;
  width: auto;
  padding: 1rem;
  border: 1px solid black;
  border-bottom: none;
}

.sidebar__item:last-child {
  border-bottom: 1px solid black;
}

.sidebar__item:hover {
  background-color: green;
}

.sidebar__ul {
  margin: 0;
  padding: 0;
}

.sidebar__header {
  min-height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  border: 1px solid #c0c0c0;
}

.sidebar__header__title {
    margin: 0;
}